@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0b1e26;
}

.hero-section {
  background-image: url('/images/hero-background.webp');
  background-size: cover;
  background-position: center;
}

.game-contents-bg {
  background-image: url('/images/game-content-background.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.about-game-bg {
  background-image: url('/images/about-game-background.webp');
  background-size: cover;
  background-position: center;
}

.contact-bg {
  background-image: url('/images/contact-background.webp');
  background-size: cover;
  background-position: center;
}
